doctype html
html
    head
        title= "TACstream"
        include ./includes/head.jade
        script(src='./scripts/chat.js')
        script(src='/socket.io/socket.io.js')
        link(rel='stylesheet', href='http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css')
        script(src='http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js')
        script(src='./scripts/map.js')
    body
        .container
            .page-header.text-center
                h1
                    span.fa.fa-users
                    span &nbsp;Profile page
                a.btn.btn-default(href='/logout') 
                    span.fa.fa-sign-out
                    span &nbsp;Logout
                a.btn.btn-default(href='/')
                    span.fa.fa-home
                    span &nbsp;Index

            .row
                .col-sm-6
                    .well
                        h3
                            span.fa.fa-user
                            span &nbsp;Local
                        p
                            strong id
                            |: #{user._id}
                            br
                            strong email
                            |: #{user.local.email}
                            br
                            strong password
                            |: #{user.local.password}
                .col-sm-6
                    .well
                        if user.facebook.id
                            h3
                                span.fa.fa-facebook
                                span &nbsp;Facebook
                            p
                                img(src='https://graph.facebook.com/#{user.facebook.id}/picture')
                                strong id
                                |: #{user.facebook.id}
                                br
                                strong Display name
                                |: #{user.facebook.displayName}
                                br
                                strong token
                                |: #{user.facebook.token}
                        if user.google.id
                            h3
                                span.fa.fa-google
                                span &nbsp;Google
                            p
                                img(src='#{user.google.profilePictureUrl}')
                                strong id
                                |: #{user.google.id}
                                br
                                strong token
                                |: #{user.google.token}
                                br
                                strong display name
                                |: #{user.google.displayName}
                            
            #content(style='height: 300px; text-align: left; border: solid 1px #999; overflow-y: scroll;')
            .controls
                input#name(style='width:350px;', placeholder='name', value='#{authenticatedUser.displayName}', readonly)
                input#field(style='width:350px;', placeholder='message')
                input#send(type='button', value='send')

            br

            #map(style='height:300px;')